@use '../../Components/General Styles/fonts.scss' as *;

.mainPage { 
  padding: 140px;
  padding-top: 100px;

  &__slides {
    display: block;
    width: calc(100vw - 280px);
    height: 90vh;
    margin-top: 20px;
  }

  &__cardBlock {
    margin-top: 100px;
  }

  &__title {
    padding: 20px;
    color: #051C1B;
    @include text;
    text-align: center;
    font-size: 40px;
    border-top: 1px solid #051C1B;
  }

  &__cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }
}
