@use '../../Constants/GeneralStyles/fonts.scss' as *;

.jkPage {
  padding: 100px;
  color: #000000;

  &__block {
    
    margin-bottom: 50px;

    &_area {
      // background-color: #EBEBEB;
      display: grid;
      justify-items: center;
    }

    &_pagination {
      display: none;
      justify-content: center;
    }

    &_info {
      display: flex;
      justify-content: space-between;
      z-index: 9;
    }

    &_txtInfo {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 240px;
    }

    &_map {
      width: 100%;
      height: 600px;
    }

    &_gallery {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;

      &_wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      &_image {
        width: 100%;
        height: 100%;
        transition: .7s;
        &:hover {
          transform: scale(1.05);
        }

      }
    }
  }

  &__BlockiconInfo {
    align-self: center;
  }

  &__iconInfo{
    margin-bottom: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__btn {
    grid-column-start: 2;
    justify-self: end;
    align-self: center;
    @include textLight;
    color: white;
    
    line-height: 33px;
    background-color: #2B614C;
    border: 2px solid #2B614C;
    box-sizing: border-box;
    padding: 5px;
    padding-right: 20px;
    width: 250px;
    text-align: right;


    display: flex;
	  align-items: center;
    justify-content: space-between;

    &:hover {
      cursor: pointer;
      background-color: transparent;
      border: 2px solid #2B614C;
      color: #2B614C
    }

    &_return {
      display: none;
      text-align: center;
      padding: 0;
      padding-right: 10px;
      width: 200px;
    }

  }
  &__txt {
    grid-row-start: 2;
    @include textLight;

    &_title {
      color: #3D7658;
      font-size: 84px;
      margin-bottom: 34px;
    }
    &_description {
      font-size: 17px;
      line-height: 30px;
      color: #2B614C;
      border-top: 1px solid #2B614C;
      border-bottom: 1px solid #2B614C;
      padding: 30px 0px;
    }
  }
  &__image {
    grid-row-start: 2;
    width: 100%;
    justify-self: end;
  }

  &__newsTitle {
    font-size: 35px;
    padding: 15px;
    margin-bottom: 130px;
    border-bottom: 1px solid #2B614C;
  }
}

@media(max-width: 1100px) {
  .jkPage {
    padding: 100px 10px;
  
    &__block {

      &_area {
        // background-color: #EBEBEB;
        display: none;
        justify-items: center;
      }
      
      margin-bottom: 50px;
  
      &_info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 9;
      }
  
      &_txtInfo {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
      }
  
      &_map {
        width: 100%;
        height: 400px;
      }
  
      &_gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
  
        &_wrapper {
          width: 100%;
          height: 100%;
          overflow: hidden;
        }
  
        &_image {
          width: 100%;
          height: 100%;
          transition: .7s;
          &:hover {
            transform: scale(1.05);
          }
  
        }
      }
    }

    &__MobileArea {
      display: block;
      img {
        width: 100%;
      }

      &_toggleBtn {
        display: flex;
        justify-content: center;
        margin-top: 15px;
      }
    }
  
    &__BlockiconInfo {
      align-self: center;
    }
  
    &__iconInfo{
      margin-bottom: 30px;
      display: flex;
      gap: 20px;
      align-items: center;
    }
  
    &__btn {
      justify-self: end;
      align-self: start;
      @include textLight;
      color: white;
      
      line-height: 33px;
      background-color: #2B614C;
      border: 2px solid #2B614C;
      box-sizing: border-box;
      padding: 5px;
      padding-right: 20px;
      width: 250px;
      text-align: right;
  
  
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      &:hover {
        cursor: pointer;
        background-color: transparent;
        border: 2px solid #2B614C;
        color: #2B614C
      }
  
      &_return {
        display: none;
        text-align: center;
        padding: 0;
        padding-right: 10px;
        width: 200px;
      }
  
    }
    &__txt {
      grid-row-start: 2;
      @include textLight;
  
      &_title {
        color: #3D7658;
        font-size: 84px;
        margin-bottom: 34px;
      }
      &_description {
        font-size: 17px;
        line-height: 30px;
        color: #2B614C;
        border-top: 1px solid #2B614C;
        border-bottom: 1px solid #2B614C;
        padding: 30px 0px;
      }
    }
    &__image {
      grid-row-start: 2;
      width: 100%;
      justify-self: end;
    }
  }
  
}

@media(min-width: 1100px) {
  .jkPage__MobileArea {
    display: none;
  }
}

@media(max-width: 700px) {
  .jkPage__block_gallery {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 500px) {
  .jkPage__txt_title {
    font-size: 64px;
  }
  .jkPage__btn {
    width: 100%;
  }
}
@media(max-width: 390px) {
  .jkPage__block_gallery {
    grid-template-columns: 1fr;
  }
}
