@use '../../Constants/GeneralStyles/fonts.scss' as *;

.jkPage {
  padding: 100px;
  color: #000000;

  &__block {
    
    margin-bottom: 50px;

    &_area {
      // background-color: #EBEBEB;
      display: grid;
      justify-items: center;
    }

    &_pagination {
      display: none;
      justify-content: center;
    }

    &_info {
      display: flex;
      justify-content: space-between;
      z-index: 9;
    }

    &_txtInfo {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 240px;
    }

    &_map {
      width: 100%;
      height: 600px;
    }

    &_gallery {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;

      &_wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      &_image {
        width: 100%;
        height: 100%;
        transition: .7s;
        &:hover {
          transform: scale(1.05);
        }

      }
    }
  }

  &__BlockiconInfo {
    // justify-self: center;
    align-self: center;
  }

  &__iconInfo{
    margin-bottom: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__btn {
    grid-column-start: 2;
    justify-self: end;
    align-self: center;
    @include textLight;
    color: white;
    
    line-height: 33px;
    background-color: #2B614C;
    border: 2px solid #2B614C;
    box-sizing: border-box;
    padding: 5px;
    padding-right: 20px;
    width: 250px;
    text-align: right;


    display: flex;
	  align-items: center;
    justify-content: space-between;

    &:hover {
      cursor: pointer;
      background-color: transparent;
      border: 2px solid #2B614C;
      color: #2B614C
    }

    &_return {
      display: none;
      text-align: center;
      padding: 0;
      padding-right: 10px;
      width: 200px;
    }

  }
  &__txt {
    grid-row-start: 2;
    @include textLight;

    &_title {
      color: #3D7658;
      font-size: 84px;
      margin-bottom: 34px;
    }
    &_description {
      font-size: 17px;
      line-height: 30px;
      color: #2B614C;
      border-top: 1px solid #2B614C;
      border-bottom: 1px solid #2B614C;
      padding: 30px 0px;
    }
  }
  &__image {
    grid-row-start: 2;
    width: 100%;
    justify-self: end;
  }
}

@media(max-width:1400px) {
  .jkPage {
    padding: 100px;
    color: #000000;
  
    &__block {
      
      margin-bottom: 50px;
  
      &_info {
        display: grid;
        column-gap: 60px;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 7fr;
      }
  
      &_map {
        width: 100%;
        height: 500px;
      }
  
      &_gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
  
        &_wrapper {
          width: 100%;
          height: 100%;
          overflow: hidden;
        }
  
        &_image {
          width: 100%;
          height: 100%;
          transition: .7s;
          object-fit: cover;
          &:hover {
            transform: scale(1.3);
          }
  
        }
      }
  
    }
  
    &__btn {
      grid-column-start: 2;
      justify-self: end;
      align-self: center;
      @include textLight;
      color: white;
      
      line-height: 33px;
      background-color: #2B614C;
      padding: 5px;
      padding-right: 20px;
      width: 250px;
      text-align: right;
  
      &:hover {
        cursor: pointer;
      }
  
    }
    &__txt {
      grid-row-start: 2;
      @include textLight;
  
      &_title {
        font-size: 45px;
        margin-bottom: 28px;
      }
      &_description {
        font-size: 15px;
        line-height: 2vw;
      }
    }
    &__image {
      grid-row-start: 2;
      width: 100%;
      justify-self: end;
      align-self: center;
    }
  } 
}

@media(max-width: 1000px) {
  .jkPage {
  
    &__block {
  
      &_info {
        display: grid;
        column-gap: 60px;
        row-gap: 30px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
      }
  
    }
  
    &__btn {
      grid-column-start: 1;
      grid-row-start: 3;
      justify-self: end;
      align-self: center;
      
      line-height: 33px;
      padding: 5px;
      padding-right: 20px;
      width: 250px;
      text-align: right;
    }
    &__txt {
      grid-row-start: 2;
    }
    &__image {
      grid-row-start: 1;
      width: 100%;
      justify-self: end;
      align-self: center;
    }
  } 
}

@media(max-width: 800px) {
  .jkPage {
    padding: 50px;

    &__block {
      &_map {
        width: 100%;
        height: 400px;
      }
    }
  
    &__btn {
      line-height: 33px;
      padding: 5px;
      padding-right: 20px;
      width: 250px;
      text-align: right;
    }
    &__txt {
      grid-row-start: 2;
      &_title {
        font-size: 45px;
        margin-bottom: 28px;
      }
      &_description {
        font-size: 15px;
        line-height: 25px;
      }
    }
    &__image {
      grid-row-start: 1;
      width: 100%;
      justify-self: end;
      align-self: center;
    }
  } 
}

@media(max-width: 500px) {
  .jkPage {
    padding: 10px;

    &__block {
      &_map {
        width: 100%;
        height: 400px;
      }
    }
  
    &__btn {
      grid-column-start: 1;
      grid-row-start: 3;
      justify-self: auto;
      align-self: center;

      line-height: 33px;
      padding: 5px;
      padding-right: 20px;
      width: auto;
      text-align: center;
    }
    &__txt {
      grid-row-start: 2;
      &_title {
        font-size: 45px;
        margin-bottom: 28px;
      }
      &_description {
        font-size: 15px;
        line-height: 25px;
      }
    }
    &__image {
      grid-row-start: 1;
      width: 100%;
      height: 500px;
      object-fit: cover;
      justify-self: end;
      align-self: center;
    }
  } 
}
