@use '../../Components/General Styles/fonts.scss' as *;

.slides {
  display: flex;
  justify-content: center;
  gap: 20px;

  &__part {
    width: 20%;
    height: 100%;
    position: relative;
    transition: all .5s;

    &:hover {
      cursor: pointer;
      width: 50%;
    }

    &:hover .slides__overlay{
      display: flex;
      animation: slide__overlay .5s forwards;
    }
  }

  @keyframes slide__overlay {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0.8;
    }

    100% {
      opacity: 1;
    }
  }

  &__photo {
    width: 100%;
    height: inherit;
    object-fit: cover;
  }

  &__overlay {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #041818 99.49%);
    position: absolute;
    width: 100%;
    height: inherit;
    display: block;
    top: 0;
    transition: .5s;
    display: none;
    opacity: 0;
  }

  &__title {
    color: white;
    display: block;
    margin: 10px;
  }

  &__description {
    color: white;
    margin: 10px;
    @include textLight;
    flex-wrap: wrap;
    width: 600px;
  }

  &__text {
    align-self: flex-end;
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
  }
}