@use '../../Constants/GeneralStyles/fonts.scss' as *;
.footer {
  @include text;
  color: white;
  background-color: #051C1B;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px;
  padding-left: 150px;

  @media(max-width: 1000px) {
    grid-template-columns: 1fr;
    padding: 0;
    padding-left: 20px;
  }

  &__title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 15px;
    margin-bottom: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  &__element {
    &_cities {
      display: grid;
      text-align: center;

      @media(max-width: 1000px) {
        text-align: left;
      }
    }

    &_phone {
      text-align: center;
      @media(max-width: 1000px) {
        text-align: left;
      }
    }

    @media(max-width: 1000px) {
      margin-top: 20px;
    }
  }

  &__cities {
    display: flex;
    justify-content: space-around;

    @media(max-width: 1000px) {
      display: grid;
      width: 50vw;
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media(max-width: 1000px) {
  .footer {
    grid-template-columns: 1fr;
    padding: 0;
    padding-left: 20px;
  
    &__title {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    &__text {
      font-size: 15px;
      margin-bottom: 10px;
  
      &:hover {
        cursor: pointer;
      }
    }
  
    &__element {
      &_cities {
        text-align: left;
      }
  
      &_phone {
        text-align: left;
      }
  
      margin-top: 20px;
    }
  
    &__cities {
        display: grid;
        width: 50vw;
        grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 700px) {
  .footer {
    padding: 0;
    padding-left: 20px;
  
    &__title {
      font-size: 25px;
      margin-bottom: 20px;
    }
  
    &__text {
      font-size: 15px;
      margin-bottom: 10px;
    }
  
    &__cities {
      width: 50vw;
    }
  }
}