
@use '../../Constants/GeneralStyles/fonts.scss' as *;

.stat-number {
  @include textLight;
  font-size: 220px;
}

.stat-one {
  color: #FFF;
  @include textLight;

  &__text {
    font-size: 100px;
    margin-left: 150px;
  }
}

.counter__block {
  min-height: 100vh;

  &:nth-child(2) {
    text-align: right;
    div {
      transform: translateX(-10%);
    }
  }
}

@media(max-width: 1100px) {
  .stat-number {
    @include textLight;
    // font-size: 100px;
    font-size: 25vw;
  }
  
  .stat-one {
    color: #FFF;
    @include textLight;
  
    &__text {
      font-size: 12vw;
      margin-left: 0px;
    }
  }
  
  .counter__block {
    min-height: 100vh;
    text-align: center;
    &:nth-child(2) {
      text-align: center;
      div {
        transform: none;
      }
    }
  }
}